* {
  padding: 0;
  margin: 0;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.home {
}

.outer-wrapper {
}

.inner-wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
